@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.cascading-right {
    margin-right: -50px;
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}

img {
    border-radius: 5%;
    height: auto;
    max-width: 100%;
}

span {
    color: red;
    font-size: 12px;
}

.valide {
    color: green;
    font-size: 12px;
}

@media (max-width: 992px) {
    .d-lg-block {
        display: block ;
    }
}
